stepFunctions.json
{
    "Comment": "A description of my state machine",
    "StartAt": "serializeImageState",
    "States": {
      "serializeImageState": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:028135097561:function:serializeImageData:$LATEST",
          "Payload.$": "$"
        },
        "Next": "classifyImageState"
      },
      "classifyImageState": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:028135097561:function:Image-Classifcation:$LATEST"
        },
        "Next": "filterInferencesState",
        "InputPath": "$.body"
      },
      "filterInferencesState": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:028135097561:function:filterInferences:$LATEST"
        },
        "End": true,
        "InputPath": "$.body"
      }
    }
  }